#skills {
    margin: 15px;
}

#projectCards {
    margin: 30px;
}

#bio-text {
    text-align: center;
}

#please-work {
    margin-left: 300px;
}

#projects {
    text-align: center;
}

#contact-header {
    text-align: center;
}

#techCode {
    margin-left: 80px;
}

form {
    margin: 80px;
}

#firebase-logo {
    margin: 35px;
    height: 270px;
    width: 220px;
}

#firebase-text {
    margin-top: 40px;
}

#node.js-logo {
    
    margin-top: 40px;
}

#bioJumbo {
    display: block;
    margin: 0px;
}
/* #contact-head {
    margin-left: 635px;
} */


#node-text {
    margin-top: 75px;
}

#num {
    margin-right: 90px;

}

#bootstrap {
    margin-top: 40px;
    margin-left: 29px;
    width: 230px;
    height: 230px;
}

/* #email {
    margin-left: 35px;
} */

#tech {
    margin-left: 75px;
}

.fa-github {
    margin-left: 30px;
}

.fa-linkedin {
    margin-left: 30px;
}

#resume{
    float: right;
}

#resumeLink {
    float: right;
    margin-left: 20px;
}

#mainCard {
    margin-left: 90px
}

#myName {
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
   {
   
  }
}