.card {
    margin: 15px;
}

#bio-text {
    text-align: center;
}

#please-work {
    margin-left: 300px;
}

#projects {
    text-align: center;
}

#contact-header {
    text-align: center;
}

#techCode {
    margin-left: 80px;
}

form {
    margin: 80px;
}

#firebase-logo {
    margin: 35px;
    height: 270px;
    width: 220px;
}

#firebase-text {
    margin-top: 50px;
}

#node.js-logo {
    margin: 60px;
}

#bio {
    margin-left: 200px;
}

#contact-head {
    margin-left: 635px;
}


#node-text {
    margin-top: 95px;
}

#num {
    margin-right: 90px;

}

#email {
    margin-left: 35px;
}

#tech {
    margin-left: 75px;
}
